body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(bgi.jpg); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;	
}

.botao-link {
	display: inline-block;
	font-size: 13px;
	padding: 10px 20px;
	background-color: #9370DB;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.perfil{
	display: flex;
}
	
.container {
  width: 25%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.painel {
  width: 60%;
  margin: 50px 50px 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.painel_deck {
  width: 60%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  width: 25%;
  margin: 50px auto 50px 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-termos{
	margin-bottom: 20px;
    display: block
}
	
.link_menor{
	font-size: 11px;
}

label {
  font-weight: bold;
  line-height: 1.5;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .container {
    width: 80%;
  }
}