<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'CSS/estilo.css')}}" />
	<title>Formulário de Cadastro</title>
</head>
<body>

<div class="container">
  <h2>Formulário de Cadastro</h2>
  <form action="post" action="{{ url_for('views.cartas') }}">
    <div class="form-group">
      <label for="card">Card:</label>
      <input type="text" id="card" name="card" required>
    </div>
    <div class="form-group">
      <label for="preco">Preço:</label>
      <input type="text" id="preco" name="preco" required>
    </div>
    <div class="form-group">
      <label for="artista">Artista:</label>
      <input type="text" id="artista" name="artista" required>
    </div>
    <div class="form-group">
      <label for="tipo">Tipo:</label>
      <input type="text" id="tipo" name="tipo" required>
    </div>
    <div class="form-group">
      <label for="texto">Texto:</label>
      <input type="text" id="texto" name="texto" required>
    </div>
    <div class="form-group">
      <label for="lealdade">Lealdade:</label>
      <input type="text" id="lealdade" name="lealdade" required>
    </div>
    <div class="form-group">
      <label for="cmc">CMC:</label>
      <input type="text" id="cmc" name="cmc" required>
    </div>
    <div class="form-group">
      <label for="edicao">Edição:</label>
      <input type="text" id="edicao" name="edicao" required>
    </div>
    <div class="form-group">
      <label for="formato">Formato:</label>
      <input type="text" id="formato" name="formato" required>
    </div>
    <div class="form-group">
      <label for="raridade">Raridade:</label>
      <input type="text" id="raridade" name="raridade" required>
    </div>
    <div class="form-group">
      <label for="cor">Cor:</label>
      <input type="text" id="cor" name="cor" required>
    </div>
    <div class="form-group">
      <label for="pr">PR:</label>
      <input type="text" id="pr" name="pr" required>
    </div>
    <div class="form-group">
      <label for="custos">Custos:</label>
      <input type="text" id="custos" name="custos" required>
    </div>
    <a href="{{ url_for('views.perfil')}}" class="botao-link">Cadastrar</a>
    <!--<input type="submit" value="Cadastrar" class="botao-link"/>--> 
  </form>
</div>

</body>
</html>
