<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'CSS/estilo.css')}}" />
	<style>
	</style>
    <title>Cadastrar Decks | Deck Digital</title>
</head>
<body>
	<!--<div class="perfil"></div>-->
	
	<div class="painel_deck">
		<h2>Cadastrar Decks</h2>
		<!--<a href="{{ url_for('views.cartas') }}" class="botao-link">Cadastrar cartas</a>
		<a href="{{ url_for('views.decks') }}" class="botao-link">Cadastrar deck</a>-->
	</div>
	
</body>
</html>