<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'CSS/estilo.css')}}" />
	<style>
	</style>
    <title>Meu Perfil | Deck Digital</title>
</head>
<body>
	<div class="perfil">
	<div class="profile">
		<h2>Meu Perfil</h2>
		<form method="post">
		<div class="form-group">
			<label for="username" class="">Nome de usuário:</label>
			<input type="text" id="username" name="username" value="Rafael Veiga" required>       
        </div>
		<div class="form-group">
			<label for="password" class="">Senha:</label>
			<input type="password" id="password" name="password" value="**********" required>
		</div>
		<div class="form-group">
			<label for="email" class="">E-mail:</label>
			<input type="text" id="email" name="email" value="rafal@email.com" required>
        </div>
		<div class="form-group">
			<label for="bday">Data de nascimento:</label>
			<input type="text" id="bday" name="bday" value="25/12/1990" required>
		</div>				
        <div class="form-group">
			<!--<a href="Perfil.html" class="botao-link">Salvar alterações</a>-->
			<input type="submit" value="Salvar alterações" class="botao-link"/>
		</div>
		</form>		
	</div>
	<div class="painel">
		<h2>Meus Decks</h2>
		<a href="{{ url_for('views.cartas') }}" class="botao-link">Cadastrar cartas</a>
		<a href="#" class="botao-link">Cadastrar deck</a>
	</div>
	</div>
</body>
</html>